@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "iranyekan-medium";
    src: url("/fonts/iranYekanWebMedium.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan-extrabold";
    src: url("/fonts/iranYekanWebExtraBold.woff2") format("woff2");
  }
}
